{{ $section := .section }}
<section id="{{ $section.id }}" class="about-section about-quote about-dark{{ if $section.bg_image }} about-has-bg{{ end }}">
  {{ if $section.bg_image }}{{ partial "media/responsive_image.html" (dict "src" $section.bg_image "alt" "Quote background" "class" "about-section-bg" "loading" "lazy" "sizes" "100vw" "fallbackWidth" 1600) }}{{ end }}
  {{ if $section.overlay }}<div class="about-section-overlay"></div>{{ end }}
  <div class="about-wrap about-narrow">
    <blockquote>
      <p>{{ $section.quote }}</p>
    </blockquote>
  </div>
</section>
